<ion-header no-border>
	<ion-toolbar>
<div style="text-align:center;margin:5px 20px"><img src="/assets/img/header.png"></div>
	</ion-toolbar>
	<ion-toolbar>
		<ion-title size="small">Votre carte club Peinard</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<app-cp-pub></app-cp-pub>
	<div *ngIf="connected" (click)="removeUser()" class="disconnect"><ion-button><ion-icon name="close-outline"></ion-icon> Me déconnecter</ion-button></div>
	<div class="carte-form" *ngIf="!connected" >
		<form #userlogin = "ngForm" (ngSubmit) = "onSubmit(userlogin.value)" >

			<ion-item >
			  <ion-label color="light">Email</ion-label>
			  <ion-input color="light" inputmode="email" name="email"
				pattern="email" type="email" placeholder="Adresse email" [email]="true"
				 [(ngModel)]="userlogin.email"></ion-input>
			</ion-item>
			<br>
			<ion-button color="light" expand="block" shape="round" fill="outline" type="submit">Connexion</ion-button>
			<p style="text-align:center;color:#fff">{{returnMessage}}</p>
		</form>
			<app-inscription expand="block"></app-inscription>
	</div>



	<div class="macarte" *ngIf="connected">
		<div class="membre">{{adherent.prenom}} {{adherent.nom}}</div>
		<div class="idmembre">{{idCarte}}</div>
	</div>
	<ion-progress-bar type="indeterminate" *ngIf="!dataLoaded"></ion-progress-bar>
	        <div *ngIf="carteLoaded">

	        </div>

</ion-content>
<!--<app-mini-player></app-mini-player>-->
