
.carte-form {
  padding:15px;
}
.icon-inner{
  margin-top:3px !important;
}
.disconnect{
  text-align:center;
  color:#fff!important;
}
.macarte {
  margin-top:20px!important;
  background-image:url("/assets/img/carte.jpg");
  width: 46vh;
  height: 63vh;
  background-size: cover;
  margin: auto;
  position:relative;
}
.membre {
  margin-bottom:3px;
  color:#fff;
  margin-left:5px;
  position: relative;
  padding-top: 57vh;
  float:left;
  font-weight:bold;
  font-size:20px;
}
.idmembre {
  margin-bottom:3px;
  padding-top: 57vh;
  margin-right:5px;
  color:#fff;
  position: relative;
  right: 2px;
  float:right;
  font-weight:bold;
  font-size:20px;
}
input {
  width: 100%;
    border-radius: 0;
    padding: 5px;
    text-align: center;
    border-style: ridge;
    color:#000;
    background-color:#fff;
}
input.button:disabled {
  background-color:#ccc;
  color:#fff;
}
input.button {
  text-transform:uppercase;
  color:#ff0602;
  background-color:#dedd2c;
  font-weight:bold;
}

@keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px);
    }

    100% {
      opacity: 1;
    }
}
