<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="start" class="chevron">
			<ion-button
				class=" circle-button ion-no-padding"
				fill="clear"
				shape="round"
				color="default"
				(click)="closeModal()"
			>
				<ion-icon name="chevron-down"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title> Ecoutez </ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
	<div class="h-100  vertical-align">
		<div
			class="image-container"
			[ngStyle]="{'background-image': 'url('+ dataAudio.photo +')'}"
		></div>
		<div class="py">
			<h4>{{ dataAudio.title }}</h4>
			<p>{{ dataAudio.text }}</p>
			<!--<span *ngIf="src!='http://str2.creacast.com/radio_peinard'" style="color:red" (click)=relancerDirect()>Relancer le direct</span>-->
		</div>
		<ion-buttons>
			<ion-button
				class="media-button circle-button ion-no-padding"
				fill="clear"
				size="large"
				shape="round"
				color="default"
			>
				<!--<i class="icon-share-2"></i>-->
			</ion-button>


			<ion-button class="play-button" *ngIf="!buttonPlay" (click)="play()"></ion-button>
			<ion-button class="stop-button" *ngIf="buttonPlay" (click)="stop()"></ion-button>


			<ion-button
				class="media-button circle-button ion-no-padding"
				fill="clear"
				size="large"
				shape="round"
				color="default"
			>
				<!--<i class="icon-star"></i>-->
			</ion-button>
		</ion-buttons>
		<ion-range
			min="0"
			max="100"
			color="secondary"
			[value]="valueVolume"
			(ionChange)="volumen($event)"
		>
			<ion-label slot="start">
				<i class="icon-volume-1"></i>
			</ion-label>
			<ion-label slot="end">
				<i class="icon-volume-2"></i>
			</ion-label>
		</ion-range>
	</div>
</ion-content>
