  <swiper (swiper)="setSwiperInstance($event)">
    <ng-template swiperSlide *ngFor="let pub of adsList">
      <a href="{{pub.lien}}" target="_blank">
        <img src="http://www.clubpeinard.com/visuel_jeu/{{pub.image}}">
      </a>
    </ng-template>
  </swiper>
  <!--<iframe src="http://www.clubpeinard.com/pub/pub_cp.php" width=770 height=100 marginwidth=0 marginheight=0 frameborder=0 scrolling=no></iframe>-->
