<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"> </ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button
				class="circle-button ion-no-padding"
				fill="clear"
				shape="round"
				color="default"
			>
				<i class="icon-star"></i>
			</ion-button>
			<ion-button
				class="circle-button ion-no-padding"
				fill="clear"
				shape="round"
				color="default"
			>
				<i class="icon-share-2"></i>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="absolute ion-no-padding">
	<div
		class="image-container"
		[ngStyle]="{'background-image': 'url('+ item?.image +')'}"
	></div>
	<ng-template #loadingTemplate>
		<div class="image-container">
			<div class="loader"></div>
		</div>
	</ng-template>
	<div class="bg-dark card-img-overlay">
		<h4>{{ item?.name }}</h4>
		<p>{{ item?.hours }}</p>
	</div>
	<div class="container">
		<ion-text color="primary">
			<h4>Description</h4>
		</ion-text>
		<p>{{ item?.description }}</p>
		<ion-text color="primary">
			<h4>Hosts</h4>
		</ion-text>
		<div class="flex flex-row">
			<app-host-item
				(click)="hostModal(show.id)"
				*ngFor="let show of item?.host_by; let i = index"
				[avatar]="show.avatar"
				[name]="show.name"
			></app-host-item>
		</div>
		<ion-text color="primary">
			<h4>Previous episodes</h4>
			<small slot="end">View all</small>
		</ion-text>
		<ion-list class="ion-no-padding" *ngFor="let item of item?.episodes">
			<app-episode-list-item [episode]="item"> </app-episode-list-item>
		</ion-list>
	</div>
</ion-content>
