ion-select {
  /* Applies to the value and placeholder color */
  color: #ffffff;

  /* Set a different placeholder color */
  --placeholder-color: #ffffff;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
}

/* Action Sheet Interface: set color for the action sheet using its button CSS variables */
.my-select-sex .select-interface-option {
  --button-color: #971e49;
  --button-color-hover: #79193b;
}
ion-range {
	--bar-height: 4px;
	--bar-border-radius: 2px;
	--height: 4rem;
}
.action-sheet {
  ion-radio {
    --color-checked: red !important;
  }
}
ion-alert:not(.select-alert) {
    --background: #222428;
    --ion-text-color: white;

    button {
        color: white !important;
        font-size: 20px !important;
    }

    .alert-message {
        color: #ddd;
    }
}
.close-button{
  color:#ffffff;
}
i {
	color: #fff;
	font-weight: normal;
}
.titre-inscription{
	font-size:13px;
}
.disconnect{
  text-align:center;
  color:#fff!important;
}
.image-container {
	background-size: cover;
	min-height: 11rem;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 1rem;
	background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
}
.messageRPS {
  text-align:center;
  background-color:#fff8f4;
  padding: 10px;
  margin: 10px 0px;
}
ion-select-option {
  color:#fff !important;
  background:#000000 !important;
  --color:#ffffff;
}
.action-sheet-group.sc-ion-action-sheet-md {
  background:#000ccc !important;
}
.messageRPS h2{
  color:#c00000;
  padding:0px;
  margin-top:0px;
}
.messageRPS span{
  color:#000000;
}
ion-card {
    //margin: 0rem 0 !important;
    margin-bottom:0 0 10px 0;
}
app-big-card {
  width:100%;
}
.card-title {
  margin-bottom: 0.75rem;
}

.card-img-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.opacity {
  opacity: .5;
}

.card-img {
  width: 100%;
  border-radius: calc(0.5rem - 1px);
}

.bg-dark {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.9) 80%);
}

h4 {
  font-size: 12pt;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  margin: .2rem 0 !important;
}

p {
    font-size: 11pt;
    color: #dedd2c;
    margin: 0 !important;
}

small {
  font-size: 11pt;
  color: var(--ion-color-primary);
  text-shadow: 1px 1px 2px black;
  font-weight:500;
}
.text-white{
  color:#ffffff;
}
.card-img-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.opacity {
  opacity: .5;
}

.card-img {
  width: 100%;
  border-radius: calc(0.5rem - 1px);
}
