<ion-header no-border>
	<ion-toolbar>
		<ion-title>
			Emissions
		</ion-title>
		<ion-buttons slot="end">
			<!--<ion-button>
				<i class="icon-search"></i>
			</ion-button>-->
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="valueType" scrollable>
			<ion-segment-button value="peinard_dechaine">
				Peinard Déchainé
			</ion-segment-button>
			<ion-segment-button value="interviews">
				Interviews
			</ion-segment-button>
			<ion-segment-button value="directs">
				Directs
			</ion-segment-button>
		</ion-segment>
	</ion-row>
	<div [ngSwitch]="valueType" class="padding-button">
		<ion-grid class="ion-no-padding">
			<div *ngSwitchCase="'peinard_dechaine'" class="fade-in">
				<ion-row>

				</ion-row>
			</div>
			<div *ngSwitchCase="'interviews'" class="fade-in">
				<ion-row>

				</ion-row>
			</div>
			<div *ngSwitchCase="'directs'" class="fade-in">
				<ion-row>

				</ion-row>
			</div>
		</ion-grid>
	</div>
</ion-content>
<app-mini-player></app-mini-player>
