<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      PARAMETRES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isConnected">
    <input type="text" name="email"><button>Me connecter</button>
    <a href="/carte-privilege">Me connecter</a>
  </div>
  <ion-list>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>Informations personelles</h2>
        <p>Disponible très prochainement</p>
      </ion-label>
      <ion-icon name="chevron-right"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>Ma carte Club Peinard</h2>
        <p>Disponible très prochainement</p>
      </ion-label>
      <ion-icon name="chevron-right"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label>
        <h2>Mon compte</h2>
        <p>Manage the notifications in the app</p>
      </ion-label>
      <ion-icon name="chevron-right"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding" href="tabs/about">
      <ion-label>
        <h2>A propos</h2>
        <p>Informations sur l'application</p>
      </ion-label>
      <ion-icon name="chevron-right"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
