body{background-color:#000000;}
ion-content,ion-toolbar {
  background:#000 !important;
  --background:#000;
}

.image-clignote  {
   animation-duration: .8s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
}
@keyframes clignoter {
  0%   { opacity:1; }
  50%   {opacity:0; }
  100% { opacity:1; }
}
.text-white{
  color:#ffffff;
}
.item-background-color {
  --ion-item-background:#000000;
  background-color:#000 !important;
}

.logo_rps {
  z-index:20!important;
  position:absolute;
  width:60px;
  max-width:100%;
  z-index:10;
  right:10px;
  top:28px;
}
#message{
  color: #faec17;
  font-family:monospace;
  margin: 0 5px 10px 0 ;
  padding:5px;
  background-color:#191919;
  height:40px;
  overflow:auto;
}
#jackpot {
  width: 300px;
    overflow: hidden;
position:relative;
height:360px;
/*back4ound-color:#000;*/
margin:auto;
top:20px;
}
#slotmachine {
  width: 300px;
    overflow: hidden;
position:relative;
height:252px;
/*background-color:#000;*/
margin:auto;
}
#slotmachine .machine{
position:absolute;
width:300px;
max-width:100%;
z-index:10;
left:0px;
}
#slotmachine .infos1 {
    overflow: hidden;
position:absolute;
/*background-color:#000;*/
width:100px;
bottom:6px;
left:7px;
z-index:20;
background-color:#fff;
border-radius: 5px;
border:2px solid #9d0909;
color:#333;
padding-left:3px;
line-height:17px;
}
#slotmachine .infos2 {
    overflow: hidden;
position:absolute;
/*background-color:#000;*/
width:150px;
top:10px;
left:135px;
z-index:20;
background-color:#fff;
border-radius: 5px;
border:2px solid #9d0909;
color:#333;
padding-left:3px;

}
#logs {
display:none;
}
#slotmachine .slots{
position:absolute;
width:24%;
z-index:1;
display: block;
}/*
slot1:4em
slot2:-11em
slot3:-25em
slot4:-40em
slot5:-55em
slot6:-68em
slot7:-83em
slot8:-98em
slot9:-112em
*/
#slotmachine #slots1{
left:5%;
top:20px;
}
#slotmachine #slots2{
left:38%;
top:-120px;
}
#slotmachine #slots3{
left:70%;
top:-340px;
}
#jackpot button {
  font-size:20px;
  padding: 5px 20px;
  margin: 20px;
  background-color: #f4111d;
  color: #faf812;
  text-transform: uppercase;
  font-weight: bold;
  border: 0px;
  cursor:pointer;
}
#jackpot button:hover {
  background-color: #860c13;
  color: #ffffff;
}

#controleurs {
  width: 100%;
    overflow: hidden;
height:180px;
/*background-color:#000;*/
margin:auto;
top:200px;
}
#controleurs .lanceur {
margin:auto;
position:relative;
display:block;
width:200px;
text-align:center;
margin-top:1px;
}
#controleurs .lanceur button {
background-color:#d61118;
text-transform:uppercase;
font-weight:bold;
padding : 10px 25px;
border: none;
width:150px;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
font-weight:bold;
}
.retour {
background-color:#d61118;
text-transform:uppercase;
font-weight:bold;
padding : 5px 25px;
border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
}
.avertissement {
  color:#fff;
  text-align:center;
}
