<ion-header no-border>
	<ion-toolbar>
<div style="text-align:center;margin:5px 20px">
	<img src="/assets/img/header.png">
  </div>
	</ion-toolbar>
</ion-header>
<ion-content>
<app-cp-pub></app-cp-pub>
<div class="partenaire-form" *ngIf="!connected">
	<div style="margin:20px 10px">
		<p class="text-white" style="text-align:center">Pour jouer, veuillez vous connecter</p>
		<form #userlogin = "ngForm" (ngSubmit) = "onSubmit(userlogin.value)" >
			<ion-item  class="item-background-color">
				<ion-label color="light">Email</ion-label>
				<ion-input color="light" inputmode="email" name="email"
				pattern="email" type="email" placeholder="Adresse email" [email]="true"
				 [(ngModel)]="userlogin.email"></ion-input>
			</ion-item>
			<ion-button color="light" expand="block" shape="round" fill="outline" type="submit">Connexion</ion-button>
			<p style="text-align:center;color:#fff">{{returnMessage}}</p>
		</form>
		<app-inscription expand="block"></app-inscription>
	</div>
	<!-- <form #userlogin = "ngForm" (ngSubmit) = "onSubmit(email.value)" >

	<form #userlogin = "ngForm" (ngSubmit) = "onSubmit(email.value)" >

	 <input type = "email" name = "email" placeholder = "Saisissez votre E-mail" [email]="true" ngModel>
	 <input  class="button" type = "submit" value = "envoyer" [disabled]="!userlogin.valid || !userlogin.value.email" disabled>
	</form>
	<p style="text-align:center;color:#fff">{{returnMessage}}</p>

	<p style="text-align:right"><a href="http://www.clubpeinard.com/form/form.php" target=_blank> Je ne suis pas encore inscrit</a></p> -->

</div>
  <div id="jackpot">
    <div id="slotmachine">
		<img src="/assets/img/logo_rps.jpg" class="logo_rps image-clignote">
    <img src="/assets/jackpot/slot.png" class="machine">
    <audio id="audioslots" src="/assets/jackpot/slot.mp3"></audio>
    <div class=infos1>Crédits : <span id="credits">{{credits}}</span></div>
    <img src="/assets/jackpot/slots.png" class="slots" id="slots1">
    <img src="/assets/jackpot/slots.png" class="slots" id="slots2">
    <img src="/assets/jackpot/slots.png" class="slots" id="slots3">
    </div>
<div style="text-align:center">
    <button id="btnlanceur" class="button button-red button-center button-square  button-xs no-bottom" [disabled]="btndisabled" (click)="start()">{{btnContent}}</button>
    </div>
    <p id=logs></p>
</div>
    <div id="message" *ngIf="msg">{{msg}}</div>
    <img src="/assets/jackpot/reglement.png" style="width:100%">
</ion-content>
