<ion-header no-border>
	<ion-toolbar>
<div style="text-align:center;margin:5px 20px"><img src="/assets/img/header_peinard.png"></div>
		<ion-buttons slot="end">
			<!--<ion-button
				class="circle-button ion-no-padding"
				fill="clear"
				shape="round"
				color="default"
				(click)="goToNotifications()"
			>
				<i class="icon-bell"></i>
			</ion-button>-->
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<app-cp-pub></app-cp-pub>
	<!--<ion-text color="primary">
		<h4>En direct</h4>
	</ion-text>-->
	<h1>Pour écouter Radio Peinard Skyrock en direct<br>téléchargez l'application :</h1>
	<div class="store_icon" *ngIf="localPlatform!='ios'"><a href="https://play.google.com/store/apps/details?id=com.icreo.radiopeinard&gl=FR"><img src="/assets/img/play.png"></a></div>
	<div class="store_icon" *ngIf="localPlatform!='android'"><a href="https://apps.apple.com/fr/app/radio-peinard/id1184927832"><img src="/assets/img/ios.png"></a></div>
	<br><br>
	<h1>Rejoignez nous sur les réseaux sociaux :</h1>
	  <ion-grid>
	    <ion-row>
	      <ion-col style="text-align: center;" color="light"><a href="https://www.facebook.com/Radio-Peinard-Skyrock-1623884504516354"> <ion-icon name="logo-facebook"></ion-icon> </a></ion-col>
	      <ion-col style="text-align: center;" color="light"><a href="https://www.instagram.com/radiopeinardskyrock/"><ion-icon name="logo-instagram"></ion-icon></a></ion-col>
	    </ion-row>
	  </ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col size-xs="12" size-sm class="radio_stream" >


<!--
	<app-big-card
		(click)="presentModal(onTheAir)"
		[hour]="onTheAir.hour"
		[photo]="onTheAir.photo"
		[title]="onTheAir.title"
		[text]="onTheAir.text"
	>
	</app-big-card>-->
			</ion-col>
			<ion-col size-xs="12" size-sm>
<!--
<div *ngIf="dataLoaded">
	<ion-card class="item-card shadow-sm" *ngIf="emissions.peinard_d" class="emission" style="margin-bottom:5px">
		<img src="http://www.peinard.fr/assets/img/jpj1.png" style="width:110%">
		<div class="card-img-overlay bg-dark flex flex-column flex-end">
			<small>L'actualité vue de Béziers par... Jorge...</small>
			<h4>Peinard Déchainé</h4>
			<app-emission *ngFor="let file of emissions.peinard_d.files" [file]="file">
			</app-emission>
		</div>
	</ion-card>
	</div>
</ion-col>
<ion-col size-xs="12" size-sm>
	<div *ngIf="dataLoaded">
	<ion-card *ngIf="emissions.interview" style="margin-bottom:5px">

		<img src="{{emissions.interview.image}}" style="width:110%">
		<div class="card-img-overlay bg-dark flex flex-column flex-end">
			<small>{{emissions.interview.titre}}</small>
			<h4>Interview</h4>
			<app-emission *ngFor="let file of emissions.interview.files" [file]="file">
			</app-emission>
		</div>
	</ion-card>
	</div>
</ion-col>
<ion-col size-xs="12" size-sm  *ngIf="dataLoaded && emissions.direct_t">
	<div >
	<ion-card  >
		<img src="http://www.peinard.fr/assets/img/jpj1.png">
		<ion-card *ngIf="emissions.direct_t" style="margin-bottom:5px">

			<img src="{{emissions.direct_t.image}}" style="width:110%">
			<div class="card-img-overlay bg-dark flex flex-column flex-end">
				<small>{{emissions.direct_t.titre}}</small>
				<h4>Direct téléphoniques</h4>
				<app-emission *ngFor="let file of emissions.interview.files" [file]="file">
				</app-emission>
			</div>
		</ion-card>
	</ion-card>
	</div>
	-->
</ion-col>
</ion-row>
</ion-grid>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</ion-content>
<!--<app-mini-player></app-mini-player>-->
