49117288031243 {{connected}}
<div *ngIf="connected" (click)="removeUser()" class="disconnect">
  <ion-button><ion-icon name="close-outline"></ion-icon> Me déconnecter</ion-button>
</div>
<div class="carte-form" *ngIf="!connected" >
  <form #userlogin = "ngForm" (ngSubmit) = "onSubmit(userlogin.value)" >

    <ion-item >
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" inputmode="email" name="email" pattern="email"
      type="email" placeholder="Adresse email" [email]="true" ngModel></ion-input>
    </ion-item>
    <br>
    <ion-button color="light" expand="block" shape="round"
    fill="outline" type="submit">Connexion</ion-button>
    <p style="text-align:center;color:#fff">{{returnMessage}}</p>
  </form>
  <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" >
    <app-inscription expand="block"></app-inscription>
  </ion-col>
</div>
