<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Règlement du jeu concours Club Peinard</ion-title> -->
    <p style="text-align:center">
      <ion-button (click)="closeModal()">Fermer</ion-button>
    </p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h2>Article 1 : ORGANISATION du Jeu Club Peinard</h2>
    La SARL Radio Peinard numéro RCS 384 342 499.
    Ci-après dénommée «l’organisateur»
    Organise un jeu intitulé Club Peinard, dans le cadre de l’application Club Peinard
    Ci-après dénommé « le Jeu».
    <h2>Article 2 : Objet du jeu Club Peinard</h2>
    Le Jeu Club Peinard est gratuit, sans obligation d’achat, et consiste à y participer en s’inscrivant au Club
    Peinard:
    Il est formellement exclu des cadeaux à gagner toute somme d’argent.
    Dans le cadre du jeu, un tirage au sort désignera les gagnants parmi les participants,
    Ci après « les participants »
    La participation au Jeu implique l’acceptation sans réserve des participants du présent règlement dans son
    intégralité,
    Ci-après « le Règlement ».
    <h2>Article 3 : Date et durée</h2>
    Le Jeu se déroule de manière permanente.
    L’organisateur se réserve la possibilité de prolonger la période de participation et de reporter toute date
    annoncée.
    <h2>Article 4 : Conditions de participation & validité de la participation
      4-1 Conditions de participation</h2>
    Indiquer à qui est ouvert le jeu : Le Jeu est ouvert à toutes les personnes adhérentes au Club Peinard.
    <h2>Article 5 : Désignation des gagnants</h2>
    Les gagnants sont désignés par tirage au sort par la responsable du Club Peinard.
    <h2>Article 6 : Désignation des Lots</h2>
    Les lots sont décrits dans chaque visuel du Club Peinard : places de cinéma, spectacle, concert, menus Club Peinard
    restaurant…
    <h2>Article 7 : Information ou Publication du nom des gagnants</h2>
    Les noms des gagnants sont publiés sur www.clubpeinard.fr et application Club Peinard
    <h2>Article 8 : Remise ou retrait des Lots</h2>

    La remise des lots et information des gagnants
    Tous les gagnants sont informés par mail des modalités de retrait ou d’utilisation des cadeaux, selon les jeux, à
    retirer chez les partenaires sur présentation du mail de confirmation, ou envoyés par courrier.
    Si l’adresse électronique est incorrecte ou ne correspond pas à celle du gagnant, ou si pour tout autres raisons
    liées à des problèmes techniques ne permettant pas d’acheminer correctement le courriel d’information,
    l’organisateur ne saurait en aucun cas être tenu pour responsable.
    De même, il n’appartient pas à l’organisateur de faire des recherches de coordonnées de gagnants ne pouvant être
    joints en raison d’une adresse électronique invalide ou illisible, ou d’une adresse postale erronée.
    L’organisateur ne saurait également être tenu responsable des défaillances des services postaux.
    Lots non retirés:
    A l’issue du délai d’un mois suivant la date d’envoi du mail de confirmation de cadeau, les lots non retirés seront
    remis en jeu.
    Passé ce délai, les gagnants injoignables ou qui n’auront pas utilisé ou retiré leur cadeau, ne pourront prétendre à
    aucun lot, dédommagement ou indemnité de quelque nature que ce soit.
    Les lots attribués sont personnels et non transmissibles. En outre, les lots ne peuvent en aucun cas faire l’objet
    d’une quelconque contestation de la part des gagnants, ni d’un échange ou de toute autre contrepartie de quelque
    nature que ce soit.
    <h2>Article 9 : Non implication Apple / Google</h2>
    Apple et Google ne sont ni partenaires, ni sponsors, ni en aucun cas impliqués dans les jeux, concours ou tirages au
    sort du Club Peinard.
    <h2>Article 10 : Opérations promotionnelles</h2>
    Du fait de l’acceptation de leurs lots, les gagnants autorisent l’organisateur à utiliser leurs noms, marques,
    dénominations sociales et ce à des fins promotionnelles sur tout support de son choix, sans que cette reproduction
    n’ouvre droit à une quelconque rémunération ou indemnisation autre que le pris gagné.
    <h2>Article 11 : Données nominatives</h2>
    Les données nominatives recueillies dans le cadre de la participation au jeu sont enregistrées et utilisées par
    l’organisateur pour les nécessités de leur participation et à l’attribution de leurs gains.

    Conformément à la « loi informatique et libertés » du 6 janvier 1978, les Participants bénéficient d’un droit
    d’accès, de rectification ou de radiation des informations les concernant. Toute demande devra être adressée par
    courrier à l’adresse de l’organisateur clubpeinard@orange.fr SARL Radio Peinard 44 bis Allées Paul Riquet 34500
    Béziers
    <h2>Article 12 : Responsabilité</h2>
    Le Participant reconnaît et accepte que la seule obligation de l’organisateur au titre du Jeu est de soumettre au
    tirage au sort les bulletins de participation recueillis, sous réserve que sa participation soit conforme aux termes
    et conditions du Règlement, et remettre les lots aux gagnants, selon les critères et modalités définis dans le
    présent Règlement.
    L’organisateur ne saurait être tenu responsable, sans que cette liste soit limitative de toute défaillance
    technique, matérielle ou logicielle de quelque nature que ce soit, les risques de contamination par des éventuels
    virus circulant sur le réseau et l’absence de protection de certaines données contre des détournements éventuels.
    La participation au Jeu implique la connaissance et l’acceptation des caractéristiques et des limites d’Internet
    tant en ce qui concerne les performances techniques, les temps de réponse pour consulter, que pour interroger ou
    transférer des informations.
    <h2>Article 13 : Cas de force majeure / réserves</h2>
    La responsabilité de l’organisateur ne saurait être encourue si, pour un cas de force majeure ou indépendant de sa
    volonté, le jeu devait être modifié, écourté ou annulé.
    L’organisateur se réserve le droit de procéder à toute vérification qu’il jugera utile, relative au respect du
    règlement, notamment pour écarter tout participant ayant effectué une déclaration inexacte ou mensongère ou fraudée.
    <h2>Article 14 : Litiges</h2>
    Le Règlement est régi par la loi française. Toute difficulté d’application ou d’interprétation du Règlement sera
    tranchée exclusivement par l’organisateur.
    Il ne sera répondu à aucune demande ou réclamation téléphonique concernant l’application ou l’interprétation du
    présent règlement. Toute contestation ou réclamation relative au Jeu et au tirage au sort devra être formulée par
    écrit à l’adresse suivante : Radio Peinard 44 bis Allées Paul Riquet 34500 Béziers
    Aucune contestation ne sera prise en compte huit jours après la clôture du Jeu.
    <h2>Article 15 : Consultation du règlement</h2>
    Un exemplaire du présent règlement est disponible et consultable pendant toute la durée du Jeu à l’adresse suivante
    : Radio Peinard 44 bis Allées Paul Riquet 34500 Béziers
    Une copie du règlement sera adressée gratuitement par mail sur simple demande écrite adressée à l’organisateur par
    courriel à clubpeinard@orange.fr
  </div>

</ion-content>