<ion-header>
  <ion-toolbar>
    <ion-title>Mes informations :</ion-title>
    <ion-buttons slot="start" class="chevron">
      <ion-button
        class=" circle-button ion-no-padding"
        fill="clear"
        shape="round"
        color="default"
        (click)="closeModal()"
      >
        <ion-icon name="close-circle" class="close-button"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #usersignup = "ngForm" (ngSubmit) = "onSubmit(userInfos.value)" >

      <ion-item >
        <ion-label color="light">Nom</ion-label>
        <ion-input color="light" inputmode="text" name="nom" pattern="text" type="text" placeholder="Votre nom" [(ngModel)]="userInfos.nom"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.nom">
      <p [innerHTML]="subscribeResponse.errors.nom" class="errorMessage"></p>
      </ion-item >
      <ion-item >
        <ion-label color="light">Prénom</ion-label>
        <ion-input color="light" inputmode="text" name="prenom" pattern="text" type="text" placeholder="Votre prénom"  [(ngModel)]="userInfos.prenom"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.prenom">
      <p [innerHTML]="subscribeResponse.errors.prenom" class="errorMessage"></p>
      </ion-item >
      <ion-item>
          <ion-label color="light">Sexe</ion-label>
          <ion-select name="sexe" color="light" interface="action-sheet"
          placeholder="Choisir" class="my-select-sex" [(ngModel)]="userInfos.sexe"  cancelText="Fermer">
            <ion-select-option value="H" color="#ffffff" style="background-color:#000000">Homme</ion-select-option>
            <ion-select-option value="F" color="#ffffff" style="background-color:#000000">Femme</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.sexe">
      <p [innerHTML]="subscribeResponse.errors.sexe" class="errorMessage"></p>
      </ion-item >
      <ion-item >
        <ion-label color="light">Date de naissance</ion-label>
        <ion-input color="light" inputmode="numeric" name="naissance" pattern="date" type="date" placeholder="jj/mm/aaaa" [(ngModel)]="userInfos.naissance"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.naissance">
      <p [innerHTML]="subscribeResponse.errors.naissance" class="errorMessage"></p>
      </ion-item >
      <ion-item >
        <ion-label color="light">Adresse</ion-label>
        <ion-input color="light" inputmode="text" name="adresse" pattern="text" type="text" placeholder="Adresse" [(ngModel)]="userInfos.adresse"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.adresse">
      <p [innerHTML]="subscribeResponse.errors.adresse" class="errorMessage"></p>
      </ion-item >

      <ion-item >
        <ion-label color="light">Complément</ion-label>
        <ion-input color="light" inputmode="text" name="compl" pattern="text" type="text" placeholder="Complément" [(ngModel)]="userInfos.compl"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.compl">
      <p [innerHTML]="subscribeResponse.errors.compl" class="errorMessage"></p>
      </ion-item >
      <ion-item >
        <ion-label color="light">Code Postal</ion-label>
        <ion-input color="light" inputmode="numeric" name="cp" type="number" placeholder="Code Postal" [(ngModel)]="userInfos.cp"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.cp">
      <p [innerHTML]="subscribeResponse.errors.cp" class="errorMessage"></p>
      </ion-item >
      <ion-item >
        <ion-label color="light">Ville</ion-label>
        <ion-input color="light" inputmode="text" name="ville" pattern="text" type="text" placeholder="Ville" [(ngModel)]="userInfos.ville"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.ville">
      <p [innerHTML]="subscribeResponse.errors.ville" class="errorMessage"></p>
      </ion-item >
      <ion-item >
        <ion-label color="light">Téléphone fixe</ion-label>
        <ion-input color="light" inputmode="tel" name="fixe" pattern="tel" type="tel" placeholder="Télépone fixe" [(ngModel)]="userInfos.fixe"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label color="light">Téléphone portable</ion-label>
        <ion-input color="light" inputmode="tel" name="mobile" pattern="tel" type="tel" placeholder="Télépone portable" [(ngModel)]="userInfos.mobile"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.telephone">
      <p [innerHTML]="subscribeResponse.errors.telephone" class="errorMessage"></p>
      </ion-item >
      <ion-item >
        <ion-label color="light">Email</ion-label>
        <ion-input color="light" inputmode="email" name="email" pattern="email" type="email" placeholder="Adresse email" [(ngModel)]="userInfos.email"></ion-input>
      </ion-item>
      <ion-item *ngIf="subscribeResponse.errors.email">
      <p [innerHTML]="subscribeResponse.errors.email" class="errorMessage"></p>
      </ion-item >
      <br>
      <ion-button color="danger" expand="block" shape="round" type="submit">S'inscrire gratuitement</ion-button>
      <p style="text-align:center;color:#fff">Tous les champs sont obligatoires</p>
      <p style="text-align:center;color:#fff">{{returnMessage}}</p>
      <div class="messageRPS" style="">
      <h2>	Radio Peinard Skyrock associe ses auditeurs et partenaires</h2>
            <span>Le jeu : Vous vous inscrivez au Club Peinard pour participer
            au tirage au sort des cadeaux de votre choix.
            Les noms des gagnants sont affichés le jour du tirage au sort.</span>
        </div>
    </form>
</ion-content>
