<ion-tabs no-border>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="partenaires">
			<ion-icon name="gift"></ion-icon>
			JEUX
		</ion-tab-button>
		<ion-tab-button tab="carte">
			<ion-icon name="id-card-outline"></ion-icon>
			CARTE
		</ion-tab-button>
		<ion-tab-button tab="rps">
			<ion-icon name="radio-outline"></ion-icon>
			LIENS
		</ion-tab-button>
		<!--<ion-tab-button tab="shedule">
			<i class="icon-grid"></i>
		</ion-tab-button>-->
		<!--<ion-tab-button tab="settings">
			<i class="icon-settings"></i>
		</ion-tab-button>-->
		<ion-tab-button tab="about">
			<ion-icon name="add-circle-outline"></ion-icon>
			PLUS
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
