<ion-header no-border>
	<ion-toolbar>
<div style="text-align:center;margin:5px 20px">
	<img src="/assets/img/header.png">
<div class="nombreAdherents">{{totAdherents | number:'4.0':'fr'}} Adhérents</div></div>
	</ion-toolbar>
</ion-header>

<ion-content>
<div style="text-align:right;margin-top:5px;
    right: 3px;" class="text-red"><ion-icon name="reload-outline" (click)="checkUptodate(true)">recharger</ion-icon></div>
	<p *ngIf="!dataLoaded" class="text-white text-center" style="color:#fff">Chargement de la liste, veuillez patienter</p>
	<ion-progress-bar type="indeterminate" *ngIf="!dataLoaded"></ion-progress-bar>
	        <div *ngIf="dataLoaded">
						<app-cp-pub></app-cp-pub>
							<div class="annonce" [innerHTML]="annonce">
							</div>
							<!--<ion-button href="/jackpot">Mon jackpot quotidien</ion-button>-->
							<div class="jackpot-box" (click)="goTo('/tabs/jackpot')">
									<div>
									<img src="/assets/jackpot/visuel.gif" style="width:100%">
									</div>
									<div class="jackpot-text">Jouez et gagnez<br>
										le <span class=clignote-1>JACKPOT</span><br>
										du Club Peinard<br>
									<span class="clignote-2">Cliquez</span>
									</div>
							</div>
							<ion-grid>
								<ion-row *ngIf="dataLoaded && !jeux.length">
									<ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4">
										<ion-button (click)="checkUptodate(true)"><ion-icon name="reload-outline"></ion-icon> Télécharger les jeux</ion-button>
									</ion-col>
								</ion-row>


								<ion-row>
									<ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let jeuCarteH1 of filterJeuCarte('1')">
										<app-jeu-cp [image]="jeuCarteH1.visuel" [id]="jeuCarteH1.id" [typeJeu]="'jeuCarte'"></app-jeu-cp>
									</ion-col>
								</ion-row>

								<ion-row>
									<ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let jeu of jeux">
										<app-jeu-cp [nom]="jeu.nom" [lieu]="jeu.lieu" [info]="jeu.info" [commentaire]="jeu.commentaire" [date]="jeu.date" [id]="jeu.id" [places]="jeu.places"  [image]="jeu.visuel" [typeJeu]="'standard'">
										</app-jeu-cp>
									</ion-col>
								</ion-row>

								<ion-row>
									<ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let jeuCarteH1 of filterJeuCarte('0')">
										<app-jeu-cp [image]="jeuCarteH1.visuel" [id]="jeuCarteH1.id" [typeJeu]="'jeuCarte'"></app-jeu-cp>
									</ion-col>
								</ion-row>
							</ion-grid>
	        </div>

</ion-content>
<!--<app-mini-player></app-mini-player>-->
