 ion-card {
  margin: 0px 16px  !important;
}

.animate-in {
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
.text-red {
  color:#d90000;
}
.nombreAdherents {
  color:#ffffff;
  font-size:20px;
  font-weight:bold;
}
.jackpot-box {
  position:relative;
}
.jackpot-text {
  color:#fde500;
  text-shadow: 1px 1px 2px red;
  font-size:21px;
  text-align:center;
  font-weight:500;
  letter-spacing : 1px;
  border:0px solid #fff;
  background-color:#000000;
  width:60%;
  right:0px;
  top:0px;
  position:absolute;
}
.clignote-2 {
  color:#fff;
  font-style: italic;
   animation-duration: 1.3s;
   animation-name: clignote2;
   animation-iteration-count: infinite;
   transition: none;
}
@keyframes clignote2 {
  0%   { opacity:1; }
  50%   {opacity:0; }
  100% { opacity:1; }
}
.clignote-1  {
   animation-duration: .65s;
   animation-name: clignote1;
   animation-iteration-count: infinite;
   transition: none;
}
@keyframes clignote1 {
  0%   { opacity:1; }
  50%   {opacity:0; }
  100% { opacity:1; }
}
a.jackpot-text {
  text-decoration: none;
}
@keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px);
    }

    100% {
      opacity: 1;
    }
}
