<ion-header no-border>
	<ion-toolbar>
<div style="text-align:center;margin:5px 20px"><img src="/assets/img/header.png"></div>
	</ion-toolbar>
	<ion-toolbar>
		<ion-title size="small">A propos</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <app-cp-pub></app-cp-pub>

	 <ion-button (click)="affichReglement()">Reglement des jeux</ion-button>
  <p>Radio Peinard Skyrock, tous droits réservés</p>
  <p>Support : Festivalfm@wanadoo.fr</p>
  <h2>Crédits :</h2>
  <p><strong>Responsable de la publication :</strong> Nathalie Barbry</p>
  <hr>
  <!--<ion-button (click)="affichGestionCompte()" *ngIf="connected">Modifier mes informations</ion-button>-->
  <ion-button (click)="desinscription()" *ngIf="connected">Me désinscrire du Club Peinard</ion-button>
	<p><input type="text" value="{{fcmToken}}"></p>
</ion-content>
