<swiper
  pager="true"
  [initialSlide]="0"
  [slidesPerView]="1"
  [autoplay]="true"
  [loop]="true"
  #slideWithNav
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange(sliderOne,slideWithNav)"
>
  <ng-template swiperSlide *ngFor="let s of sliderOne.slidesItems">
	<img src="https://picsum.photos/300/200?t={{s.id}}" />
	<div class="slide-text"><span>Slide id {{s.id}}</span></div>
  </ng-template>
</swiper>
