<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"> </ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="absolute ion-no-padding">
	<div class="container">
		<div *ngIf="creer">
<h2>Saisissez votre adresse mail</h2>
<input type=text>
<ion-button>Me connecter</ion-button>
<p><ion-button (click)="creer=true">Créer un compte</ion-button></p>
<p style="color:#fff">{{creer}}</p>
	</div>
	<div *ngIf="!creer">
		<h2>Créer un compte</h2>
		<a (click)="creer=false">J'ai déjà un compte</a>
		<div class="formulaire">
			<form [formGroup]="registerForm" (submit)="onSubmit()">
			<ion-grid [fixed]="true">
				<ion-row>
					<ion-col>Nom
					</ion-col>
					<ion-col><input type="text" [(ngModel)]="user.nom" name="nom" required>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Prenom
					</ion-col>
					<ion-col><input type="text"  [(ngModel)]="user.prenom" name="prenom" required>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Sexe
					</ion-col>
					<ion-col><select name="sexe" [(ngModel)]="user.sexe">
						<option value="M">Homme</option>
						<option value="F">Femme</option>
						</select>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Date de naissance
					</ion-col>
					<ion-col>
						  <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" value=""
							month-short-names='jan, fev, mar, avr, mai, juin, juil, aou, sep, oct, nov, dec' done-text="Ok" cancel-text="Annuler"
							placeholder="choisissez" [(ngModel)]="user.naissance" required

							></ion-datetime>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Adresse
					</ion-col>
					<ion-col><textarea name="adresse" [(ngModel)]="user.adresse"></textarea>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Code Postal
					</ion-col>
					<ion-col><input type=text name="cp" [(ngModel)]="user.cp">
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Ville
					</ion-col>
					<ion-col><input type=text name="ville" [(ngModel)]="user.ville" required>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Telephone fixe
					</ion-col>
					<ion-col><input type=text name="fixe" [(ngModel)]="user.fixe">
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Telephone mobile
					</ion-col>
					<ion-col><input type=text name="mobile" [(ngModel)]="user.mobile">
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>E-mail
					</ion-col>
					<ion-col><input type=email name="email" [(ngModel)]="user.email" required>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>Mot de passe
					</ion-col>
					<ion-col><input type="password" name="password" [(ngModel)]="user.password" required>
					</ion-col>
				</ion-row>
			</ion-grid>
		<ion-button type="submit" [disabled]="!registerForm.valid">Envoyer</ion-button>
    </form>
		</div>
	</div>
</div>

</ion-content>
