ion-card {
    margin: 0px 0px  !important;
}
app-big-card {
  width:100%;
}
.infos-button {
  position:absolute;
  right:0px;
  top:0px;
  z-index:10;
}
.infos-button ion-button {
  color:#fff;
}
.card-title {
  margin-bottom: 0.75rem;
}

.card-img-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.opacity {
  opacity: .5;
}

.card-img {
  width: 100%;
  border-radius: calc(0.5rem - 1px);
}

.bg-dark {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.9) 80%);
}
.gagnants {
  color: #fff;
  text-align: right;
}
h4 {
  font-size: 12pt;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.85);
  margin: .2rem 0 !important;
}

p {
    font-size: 11pt;
    line-height:20px;
    font-weight: 500;
    color: #dedd2c;
    margin: 0 !important;
}
p.white {
    font-size: 11pt;
    color: #ffffff;
    margin: 0 !important;
}

small {
  font-size: 11pt;
  color: #ff3c3c;
  text-shadow: 1px 1px 2px #000000cf;
  font-weight:500;
}

ion-button {

}

@media (min-width: 320px) {
  h4 {
    font-size: 12pt;
    }
    p, small {
        font-size: 10pt;
    }
}

@media (min-width: 375px) {
  h4 {
    font-size: 12pt;
    }

    p, small {
        font-size: 11pt;
    }
}

@media (min-width: 768px) {
  h4 {
    font-size: 20pt;
    }

    p, small {
        font-size: 14pt;
    }
}
