<!--<ion-card class="item-card shadow-sm" [href]="'http://www.clubpeinard.com/#'+id">-->
<!--<ion-card class="item-card shadow-sm" [href]="'/partenaire/'+id">-->
<ion-card class="item-card shadow-sm"  (click)="presentModal(id)">
	<img class="card-img " src="{{ image }}">
	<div class="infos-button" *ngIf="info"><ion-button size="small" (click)="openUrl(info)">
		<ion-icon name="log-out-outline"></ion-icon> + d'infos
	</ion-button></div>
	<div class="card-img-overlay bg-dark flex flex-column flex-end" *ngIf="typeJeu=='standard'">

		<h4 [innerHTML]="nom">{{ nom }}</h4>
		<p [innerHTML]="date" class="white">{{ date }}</p>
		<p [innerHTML]="lieu" class="white">{{ lieu }}</p>
		<!--<p [innerHTML]="places" >{{ places }}</p>-->
		<!--<p [innerHTML]="commentaire" >{{ commentaire }}</p>-->

		<ion-button color="light"  size="small" expand="full" fill="outline" *ngIf="termine && !gagnant">
			VOIR LES GAGNANTS <ion-icon name="chevron-forward-outline" class="close-button"></ion-icon>
		</ion-button>
		<ion-button color="light"  size="small" expand="full" fill="outline" *ngIf="!termine">
			JOUER <ion-icon name="chevron-forward-outline" class="close-button"></ion-icon>
		</ion-button>
		<ion-button color="light"  size="small" expand="full" fill="outline" *ngIf="gagnant">
			<ion-icon name="gift-outline" class="close-button"></ion-icon>&nbsp;VOUS AVEZ GAGNÉ !
		</ion-button>
	</div>
</ion-card>
