<div class="mini-player">
	<ion-item lines="none">
		<ion-button class="circle-button ion-no-padding ion-no-margin" slot="start" fill="clear" shape="round"
			color="default" (click)="presentModal({
					hour: '',
					photo: '',
					title: 'Radio Peinard Skyrock',
					text: 'La radio locale'
				})"  *ngIf="!flagPlay">
			<ion-icon name="chevron-up"></ion-icon>
		</ion-button>
		<ion-avatar slot="start">
			<img
				src="http://www.peinard.fr/assets/img/defaultcover.jpg">
		</ion-avatar>
		<ion-label class="ion-text-wrap">
			<p>Radio Peinard - 100.fm</p>
			<h4>La radio locale</h4>
		</ion-label>
		<ion-button class="circle-button ion-no-padding ion-no-margin" fill="clear" shape="round" color="default"
			(click)="play()" *ngIf="flagPlay">
			<ion-icon name="play"></ion-icon>
		</ion-button>
		<ion-button class="circle-button ion-no-padding ion-no-margin" fill="clear" shape="round" color="default"
			(click)="pause()" *ngIf="!flagPlay">
			<ion-icon name="pause"></ion-icon>
		</ion-button>
	</ion-item>
</div>
