<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="start" class="chevron">
			<ion-button
				class=" circle-button ion-no-padding"
				fill="clear"
				shape="round"
				color="default"
				(click)="closeModal()"
			>
				<ion-icon name="close-circle" class="close-button"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title class="titre-partenaire" [innerHTML]="nom">{{ nom }}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
	<app-cp-pub></app-cp-pub>
	<span *ngIf="connected" style="color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-600, #666666)));">Bonjour {{adherent.prenom}} {{adherent.nom}}</span>
	<br><br>
	<ion-card class="item-card shadow-sm">
	<img class="card-img " src="{{ image }}">
	<div class="infos-button" *ngIf="info"><ion-button size="small" (click)="openUrl(info)">
		<ion-icon name="log-out-outline"></ion-icon> + d'infos
	</ion-button></div>
	<div class="card-img-overlay bg-dark flex flex-column flex-end" *ngIf="typeJeu=='standard'">

	</div>
	</ion-card>
	<h4 [innerHTML]="nom">{{ nom }}</h4>
	<p [innerHTML]="date" class="white">{{ date }}</p>
	<p [innerHTML]="lieu" class="white">{{ lieu }}</p>
	<p [innerHTML]="places" >{{ places }}</p>
	<p [innerHTML]="commentaire" >{{ commentaire }}</p>
	<div *ngIf="jeuDetails.gagnants.length==0">
		<div style="margin:20px 10px" *ngIf="connected && !jeuDetails.dejajoue && typeJeu=='standard'">
		<p class="text-white">Pour jouer, cliquez ici :</p>
		<ion-button [disabled]="jeuDetails.dejajoue || disableJouerButton" (click)="participer(typeJeu)"><ion-icon name="gift-outline"></ion-icon> JOUER</ion-button>
		</div>

		<div style="margin:20px 10px" *ngIf="connected && !jeuDetails.dejajoue && typeJeu!='standard'">
			<p class="text-white">Pour jouer, renseignez votre numéro de carte :</p>

			  <ion-input color="light" inputmode="numeric" name="numcarte" type="number"
				placeholder="Numéro de carte" [(ngModel)]="jeuIdCarte" ></ion-input>

			<ion-button [disabled]="(jeuDetails.dejajoue || disableJouerButton) || jeuIdCarte!=idCarte" (click)="participer(typeJeu)"><ion-icon name="gift-outline"></ion-icon> JOUER</ion-button>
<p>&nbsp;</p>
			<p class="text-white"><a href="/tabs/carte">Pour retrouver votre numero de carte, cliquez</a></p>
		</div>




		<div style="margin:20px 10px" *ngIf="connected && jeuDetails.dejajoue">
			<p class="text-white">{{remerciements}}</p>
		</div>
	</div>
	<div *ngIf="jeuDetails.gagnants.length>0">
		<h2 *ngIf="jeuDetails.gagnants.length>1 && jeuDetails.genre=='F' ">Liste des gagnantes :</h2>
		<h2 *ngIf="jeuDetails.gagnants.length>1 && jeuDetails.genre!='F'">Liste des gagnants :</h2>
		<h2 *ngIf="jeuDetails.gagnants.length==1 && jeuDetails.genre=='F'">Gagnante :</h2>
		<h2 *ngIf="jeuDetails.gagnants.length==1 && jeuDetails.genre!='F'">Gagnant :</h2>
		<div *ngFor="let gagnant of jeuDetails.gagnants">
			<p><span [innerHTML]="gagnant.prenom_adh | titlecase " class="nom-gagnant"></span>&nbsp;<span class="nom-gagnant" [innerHTML]="gagnant.nom_adh | titlecase "></span></p>
		</div>
		</div>

	<div class="partenaire-form" *ngIf="!connected">
		<div style="margin:20px 10px">
			<p class="text-white">Pour participer au tirage au sort, veuillez vous connecter</p>
			<form #userlogin = "ngForm" (ngSubmit) = "onSubmit(userlogin.value)" >
				<ion-item >
				  <ion-label color="light">Email</ion-label>
				  <ion-input color="light" inputmode="email" name="email"
					pattern="email" type="email" placeholder="Adresse email" [email]="true"
					 [(ngModel)]="userlogin.email"></ion-input>
				</ion-item>
				<br>
				<ion-button color="light" expand="block" shape="round" fill="outline" type="submit">Connexion</ion-button>
				<p style="text-align:center;color:#fff">{{returnMessage}}</p>
			</form>
			<br>
			<app-inscription expand="block"></app-inscription>
		</div>
		<!-- <form #userlogin = "ngForm" (ngSubmit) = "onSubmit(email.value)" >

		<form #userlogin = "ngForm" (ngSubmit) = "onSubmit(email.value)" >

		 <input type = "email" name = "email" placeholder = "Saisissez votre E-mail" [email]="true" ngModel>
		 <input  class="button" type = "submit" value = "envoyer" [disabled]="!userlogin.valid || !userlogin.value.email" disabled>
		</form>
		<p style="text-align:center;color:#fff">{{returnMessage}}</p>

		<p style="text-align:right"><a href="http://www.clubpeinard.com/form/form.php" target=_blank> Je ne suis pas encore inscrit</a></p> -->

	</div>
	<a (click)="affichReglement()">Reglement des jeux</a>
</ion-content>
