ion-range {
	--bar-height: 4px;
	--bar-border-radius: 2px;
	--height: 4rem;
}
.close-button{
  color:#ffffff;
}
i {
	color: #fff;
	font-weight: normal;
}
.titre-partenaire{
	font-size:13px;
}
.disconnect{
  text-align:center;
  color:#fff!important;
}
.image-container {
	background-size: cover;
	min-height: 11rem;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 1rem;
	background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
}
ion-card {
    //margin: 0rem 0 !important;
    margin:0 0 10px 0 !important;
}
.infos-button {
  position:absolute;
  right:0px;
  top:0px;
}
.infos-button ion-button {
  color:#fff;
}
app-big-card {
  width:100%;
}
.card-title {
  margin-bottom: 0.75rem;
}

.card-img-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.opacity {
  opacity: .5;
}

.card-img {
  width: 100%;
  border-radius: calc(0.5rem - 1px);
}

.bg-dark {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.9) 80%);
}
h2 {
  font-size: 14pt;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  margin: .2rem 0 !important;
}
.nom-gagnant {
	text-transform:capitalize;
}
h4 {
  font-size: 12pt;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25);
  margin: .2rem 0 !important;
}

p {
    font-size: 11pt;
    line-height:20px;
    font-weight: 500;
    color: #dedd2c;
    margin: 0 !important;
}
p.white {
    font-size: 11pt;
    color: #ffffff;
    margin: 0 !important;
}

small {
  font-size: 11pt;
  color: var(--ion-color-primary);
  text-shadow: 1px 1px 2px black;
  font-weight:500;
}
.text-white{
  color:#ffffff;
}
.card-img-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.opacity {
  opacity: .5;
}

.card-img {
  width: 100%;
  border-radius: calc(0.5rem - 1px);
}
