/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';

ion-header {
    --background: #dedd2c;
}

ion-title {
    font-weight: 500;
    color: #FFFFFF;
    text-align:center;
    text-transform:uppercase;
}
ion-title img {
  margin-top:4px;
  margin-bottom:10px;
}
p {
    margin-block-start:0em !important;
    margin-top:0 !important;
}
ion-toolbar {
    --background: #191919;

    i {
        color: #FFFFFF;
    }
}
ion-toolbar {
    --background: #191919;

    i {
        color: #FFFFFF;
    }
}

ion-tab-bar {
    --background: #dedd2c;
    --color:#000;

}

ion-content {
    --background: #191919;
    --padding-bottom: 1rem;
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
}
.action-sheet-button-inner {
  color:#ffffff;
  background-color:#191919;
}
.action-sheet-group {
  background-color:#191919 !important;
}
.action-sheet-button.sc-ion-action-sheet-ios:hover::after {
    background: #191919;
}
