<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"> </ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-button
				class="circle-button ion-no-padding"
				fill="clear"
				shape="round"
				color="default"
			>
				<i class="icon-star"></i>
			</ion-button>
			<ion-button
				class="circle-button ion-no-padding"
				fill="clear"
				shape="round"
				color="default"
			>
				<i class="icon-share-2"></i>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="absolute ion-no-padding">
	
</ion-content>
